//Colors
$orange: #f75814;
$green: #14f776;
$light-blue: #14f7ec;
$black: #1b1c1c;

@mixin flex-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
